* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font: normal bold 16px/normal tahoma;
}

.clock {
    width: 300px;
    text-align: center;
    background-color: rebeccapurple;
    border-radius: 10px;
    margin: 50px auto 20px;
    padding: 5px;
    box-shadow: 3px 3px 10px white;
}

.clock h3 {
    padding: 10px;
    color: #fff;
}
.clock .count {
    padding: 5px;
}
.clock #timer,.clock #timer1{
    padding: 5px;
    color: crimson;
    background-color:white;
    border-radius: 2px;
}